.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #ff561c;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
  transition: 0.3s;
}

.actions button:hover,
.actions button:active {
  background-color: #ce4416;
  border-color: #ce4416;
  color: white;
}

.actions .button--alt {
  color: #ff561c;
}

.actions .button {
  background-color: #ff561c;
  color: white;
}

.spinner {
  display: flex;
  justify-content: center;
  min-height: 250px;
  align-items: center;
  flex-direction: column;
}
.spinner p {
  font-size: 2rem;
  font-weight: bold;
  color: #ff561c;
}

.spinner img {
  width: 100px;
}
